<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CalmSerenity</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<key>UIAppFonts</key>
    <array>
        <!-- Alegreya Sans Fontları -->
        <string>AlegreyaSansBlack.ttf</string>
        <string>AlegreyaSansBlackItalic.ttf</string>
        <string>AlegreyaSansBold.ttf</string>
        <string>AlegreyaSansBoldItalic.ttf</string>
        <string>AlegreyaSansExtraBold.ttf</string>
        <string>AlegreyaSansExtraBoldItalic.ttf</string>
        <string>AlegreyaSansItalic.ttf</string>
        <string>AlegreyaSansLight.ttf</string>
        <string>AlegreyaSansLightItalic.ttf</string>
        <string>AlegreyaSansMedium.ttf</string>
        <string>AlegreyaSansMediumItalic.ttf</string>
        <string>AlegreyaSansRegular.ttf</string>
        <string>AlegreyaSansThin.ttf</string>
        <string>AlegreyaSansThinItalic.ttf</string>

        <!-- Alegreya Fontları -->
        <string>AlegreyaBlack.ttf</string>
        <string>AlegreyaBlackItalic.ttf</string>
        <string>AlegreyaBold.ttf</string>
        <string>AlegreyaBoldItalic.ttf</string>
        <string>AlegreyaExtraBold.ttf</string>
        <string>AlegreyaExtraBoldItalic.ttf</string>
        <string>AlegreyaItalic.ttf</string>
        <string>AlegreyaMedium.ttf</string>
        <string>AlegreyaMediumItalic.ttf</string>
        <string>AlegreyaRegular.ttf</string>
        <string>AlegreyaSemiBold.ttf</string>
        <string>AlegreyaSemiBoldItalic.ttf</string>
    </array>

</dict>
</plist>
